@import "bourbon";

html, body {
  margin: 0px;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #4a4a4a;
}

.launcher {
  margin-top: 2px;
  margin-left: 5px;
}

.magic {
  width: 800px;
  height: 500px;
  background-color: #eeeeee;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}

.liquid-container {
  width: 100%;
  height: 100%;
}

.liquid-child {
  width: 100%;
  height: 100%;
}
