<div class="header">
  <div {{action 'magic'}} class="launcher fa fa-th-large fa-inverse fa-3x"></div>
</div>

{{#liquid-if isMagic class="magical"}}
    <div class="magic">
    </div>
{{/liquid-if}}
